* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  height: 100px;
  background-image: url("img/wall.png");
  font-family: "Edu TAS Beginner", cursive;
  
}
main {
  background-image: url("img/cork.png");
  width: 100%;
  height: 900px;
}
.gallery{

}
.photo{
    
}
