* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
header {
    width: 100%;
    height: 100px;
    background-image: url("img/wall.png");
    font-family: "Edu TAS Beginner", cursive;
    
}
main {
    background-image: url("img/cork.png");
    width: 100%;
    height: 3000px;
}
.gallery{  
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    
}
.card{
    padding: 15px;
    background-color: white;
    position: relative;
    border-radius: 0px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);  
    margin-top: 20px;
}
.card:hover{
    transform:translateX(-7px)  rotate(1deg);
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
}
.photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.caption{
    margin-top: 5px;
    font-family: "Edu TAS Beginner", cursive;


}
.date{
    font-family: "Sometype Mono", monospace;

}

.pin{
    width: 40px;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}

/* per tutti scermi*/
.card {
    width: 100%;
}

@media (min-width: 600px) {
    .card {
        width: calc(50% - 20px);
    }
}

@media (min-width: 900px) {
    .card {
        width: calc(33.33% - 20px);
    }
}


.card-full-view{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    
}
.card-full-view-content{
    background-color: rgb(197, 197, 197);
    padding: 20px;
    border-radius: 20px;

}
.card-full-view img{ 
    width: 100%;
    border-radius: 20px;
    margin-bottom: 10px;

}
.hidden{
    display: none;
}
